@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*HEADER*/
.encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas iguales */
    height: 10rem; /* O ajusta según necesites */

}

.logoImagen {
    display: inline;
    height: 9rem;


}

.logo span {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 500; /* 100 (fino) a 900 (grueso) */
    color: #01527D;
    position: relative;
    top: 3rem;
    font-size: 3rem;
}

.login {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 500; /* 100 (fino) a 900 (grueso) */
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    left: 2em;
}

.login a {
    padding-right: 2em;
}

.enlaces {
    background-image: url("/public/burbujas.png");
    background-size: 30%;
    background-position-y: -70px;
    background-position-x: -220px;
    background-repeat: no-repeat;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #8AB9C7;

    position: sticky;
    top: 0; /* 🔥 Esto es necesario para que funcione */
    width: 100%;
    z-index: 1000; /* 🔥 Asegura que quede por encima de otros elementos */
}
.enlaces a {
    padding: 0 1em 0 1em;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 700; /* 100 (fino) a 900 (grueso) */
    font-size: 1.2em;


    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease, text-shadow;
    background: linear-gradient(0deg, #F48C89, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 7px;

}

.enlaces a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Difumina el borde */


}

/*MAIN*/
h1 {
    text-align: center;
    font-size: 2em;
}
main{
    margin: 0 20rem;
}
main.inicio {
    background-image: url("/public/fondo_cumple.jpeg");
    min-height: 40rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contenidoTitulo {
    padding-top: 40px;
    font-size: 1.5em;
    color: #F48C89;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 700; /* 100 (fino) a 900 (grueso) */
    display: flex;
    justify-content: center;
}

.contenidoBlog {

    border-radius: 7px;
    background-color: white;
margin-bottom: 2em;
    border: solid #01527D 1px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600; /* 100 (fino) a 900 (grueso) */
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.fotos{
width: 80%;
   align-self: center;
}
.textoBlog {

    padding-top: 10px;
    font-size: 1em;
    align-self: flex-start; /* Asegura que esté arriba */
    color: #01527D;
    text-align: center;
    flex-grow: 1; /* Ocupa todo el espacio disponible arriba */
}

.fechaBlog{
    font-size: 1em;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 500; /* 100 (fino) a 900 (grueso) */
    color: #01527D;
}

.pieFoto{

    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;/* Espacio entre autor y fecha */
    padding-bottom: 5px;
}

.contenidoLateral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.borrar{
    width: 40px;
}
.editar{
    width: 40px;
}
.botones{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}
.crearEntrada {

  margin-bottom: 5px;
    padding: 8px 10px;
    background: #8AB9C7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease, box-shadow 0.3s ease;

}

.crearEntrada:hover {
    background: #2d3748;
    box-shadow: 0 0 10px rgba(0, 91, 187, 0.5);
}


/*FORMULARIO*/
.formCreate {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.botonCreate, .submitCreate{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.botonCreate, textarea, .submitCreate {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: vertical;
}

.submitCreate {
    width: 100%;
    padding: 10px;
    background: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.submitCreate:hover {
    background: #8AB9C7;
    box-shadow: 0 0 10px rgba(0, 91, 187, 0.5);
}





/*FOOTER*/
footer {

    background-image: url("/public/burbujas.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position: right;
    bottom: 0;
    left: 0;
    background-color: #8AB9C7;
    color: white;

    padding: 10px;
}

.nombre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5em;
    margin-left: auto;
}

.footerdiv {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 500; /* 100 (fino) a 900 (grueso) */
    display: flex;
}

footer div {
    padding-right: 5rem;
    left: 2em;
    text-align: center;
}

